
.line{
	min-height: 500px;
	width: 250px;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 20px;

	h1{
		padding: 0px 10px;
	}

	.line-container{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.newCard{
	margin-left: 10px;
}